body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.field-showroom {
  width: 100%;
  height: 30rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
}

.field {
  margin: 0px 5rem;
  position: relative;
}

.field > img {
  width: 100%;
  height: 100%;
}

.positions {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
}

.position {
  width: 100%;
  height: 25%;
  background-color: rgba(255, 0, 0, 0.423);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.team-generator {
  width: 90%;
  height: auto;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.579);
  padding: 1.5rem;
  margin: 1rem 0px;
}

.teams {
  width: 100%;
  height: 300px;
}
