body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.field-showroom {
  width: 100%;
  height: 30rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
}

.field{
    margin: 0px 5rem;
    position: relative;
}

.field > img {
  width: 100%;
  height: 100%;
}

.players{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.defence{
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0px;
    height: 10rem;
    background-color: rgba(255, 0, 0, 0.447);
}