body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.field-showroom {
  width: 100%;
  height: 30rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
}

.field-showroom > img {
  width: 30%;
  height: 100%;
  margin: 0px 5rem;
}
